html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
	font-family: 'Oswald', Arial, sans-serif;
	background-color: #FFFFFF;
	color: #000000;
	background: ;
	margin: 0;
}

.container {
	width: 90%;
	margin: 0 auto;
}

header {
	height: 900px;
	background: url(images/makeup-background.jpg) no-repeat center top; 
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  	background-size: cover;
  	float: left;
  	width: 100%;
  	color: #FFFFFF;
	font-family: 'Oswald', Arial, sans-serif;
	margin-bottom: 50px;
}

.menu {
	background: rgba(0,0,0,.3);
	text-align: right;
	width: 100%;
	position: fixed;
    top: 0;
    z-index: 1;
}

li {
	list-style: none;
	display: inline-block;
	font-size: 32px;
	padding-right: 20px;
}

li a {
	text-decoration: none;
	color: #FFFFFF;
}

li a:hover {
	color: #777777;
}

.logo {
	font-weight: 700;
	font-size: 64px;
	color: #FFFFFF;
}

.tagline {
	font-size: 32px;
}


.main {
	width: 100%;
	padding-top: 200px;
	text-align: center;
}

.about {
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #000000;
}

.about-head {
	font-size: 32px;
}

.intro {
	padding-left: 40px;
	padding-right: 40px;
	font-size: 24px;
}

.portfolio-head {
	font-size: 32px;
}

.portfolio {
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #000000;
}

.contact-head {
	font-size: 32px;
}

.contact-call {	
	padding-left: 40px;
	padding-right: 40px;
	font-size: 24px;
}

.contact {
	padding-top: 50px;
	padding-bottom: 50px;
}

.form-inline {
	padding-left: 80px;
	font-size: 24px;
}

.form-group {
	padding-top: 10px;
	padding-bottom: 10px;
}

.name-label {
	padding: 9px;
}

#exampleInputName2 {
	margin-bottom: 30px;
}

.email-label {
	padding: 10px;
}

.message-label {
	padding: 10px;
	margin-top: 30px;
	margin-left: 76px;
}

.form-control {
	padding: 10px;
}

.btn {
	padding: 10px;
	margin-left: 76px;
	margin-top: 10px;
}

.logo-2 {
  font-size: 24px;
  font-weight: 800;
  color: #f9e42e;
  background-color: #000000;
  float: left;
  width: 100%;
  text-align: center;
}

.social {
  list-style: none;
  display: inline-block;
  font-size: 32px;
  color: #FFFFFF;
}

.fa {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 42px;
}

.grid-block {
	position: relative;
	float: left;
	/*width: 325px;*/
	/*height: 200px;*/
	margin: 0 0 30px 30px;
}
 
.caption {
	display: none;
	position: absolute;
	bottom: 5px;
	left: 0;
	background: rgba(0,0,0,.4);
	width: 100%;
	/*height: 100%;*/
}

.caption h3, .caption p {
	color: #fff;
	margin: 20px;
}

.caption h3 {
	margin: 20px 20px 10px;
}

.caption p {
	font-size: .75em;
	line-height: 1.5em;
	margin: 0 20px 15px;
}

@media (max-width: 600px) {
	.email-label {

	}
}