/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 100%;
  float: left;
  
}

.call-to-action {
  float: left;
  width: 100%;
  color: #121212;
  text-align: center;
  padding: 5px;
  width: 280px;
}

.benefits {
  width: 100%;
  margin: auto;
  float: left;
  background-color: #F2F6F5;
  font-size: 13px;
  padding: 20px;
}

header {
height: 500px;
background: url(../images/header_bg.jpg) 
no-repeat center top rgb(134,141,157);
  background-size: cover;
  float: left;
  width: 100%;
}

blockquote {
  font-weight: 300italic;
}

footer {
  font-size: 9px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  float: left;
  width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo {
  font-size: 24px;
  font-weight: 800;
  margin-left: 30px;
  color: #FFFFFF;
}

.slogan {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
}

.get-now {
  font-size: 14px;
  font-weight: 800;
  border-radius: 10px;
  background-color: #f9e42e;
  padding: 10px 50px 10px 50px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.quote-section {
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  padding: 20px;
  text-align: center;
  float: left;
  width: 100%;
}

.sign-up {
  font-size: 12px;
  font-weight: 800;
  background-color: #f9e42e;
  height: 100px;
  float: left;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

.sign-up-button {
  background-color: #033048;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 10px;
}

.logo-2 {
  font-size: 24px;
  font-weight: 800;
  color: #f9e42e;
  background-color: #000000;
  float: left;
  width: 100%;
  text-align: center;
}

.social {
  padding: 10px;
}


