<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout 3</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	
	<header>
		<div class="logo"></div>
		<div class="menu">
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>			
		</div>
	</header>

	<section class="main">
		<div class="container"></div>
	</section> 

	<nav class="content-left">
		<div class="container"></div>
	</nav>

	<section class="content-center">
		<div class="container"></div>
	</section>

	<nav class="content-right">
		<div class="container"></div>
	</nav>

	<footer>
		<div class="container"></div>
	</footer>
</body>
</html>